/**
 * All of the public CSS for your admin-specific functionality should be
 * included in this file. (Scoped CSS is included with each module)
 * The main theme file is quite large and included in it's own file for now.
 * Theming in primevue will change shortly in v4 so we may be able to move it.
 */

 *,
 *::before,
 *::after {
   box-sizing: border-box;
   margin: 0;
   font-weight: normal;
}
div#wpcontent {
    padding-left:0!important;
    margin-bottom: 2em;
}
div#wpbody {
    height: 100%;
}
div#wpbody-content {
    height: 100%;
    padding-bottom: 0;
}
div.mm-static-main {
    height: 100%;
    display: flow-root;
}
div#make-me-static-directory {
    height: 100%;
    position: relative;
    font-family: var(--font-family);
}
div#make-me-static-crawler secion.application {
    height: 100%;
}

div.p-dialog-header .p-dialog-title {
    font-size: 1.6em;
    color: #666;
    font-weight: 600;
}
div.p-dialog-mask div div div.card {
    position: fixed;
    margin-top: 0;
    padding: 0;
    border: none;
}
div.p-dialog-content div div p {
    font-size: 1.1em;
    margin-top: 0;
    margin-bottom: 0.5em;
}
div.p-dialog-content div ul  {
    font-size: 1.1em;
    padding-left: 1.1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
div.p-dialog-content div ul li {
    list-style: circle;
}
div.p-dialog-mask div.p-dialog-content div ul li a {
    color: rgb(98, 36, 156);
    font-weight: 600;
}
div.mm-static-main li.p-tabview-header {
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 6px;
}
div.mm-static-main .p-tabview .p-tabview-panels {
    background-color: transparent;
}
div.mm-static-main .tab-view .p-tabview-nav-content {
    border-radius: 8px;
    
}
div.mm-static-main .p-tabview-nav-container {
    border: 1px solid rgb(204, 204, 255);
    padding: 3px;
    border-radius: 6px;
    font-size: 1.13em;
}
div.mm-static-main .p-tabview-nav-container i.pi {
    font-size: 1.13em!important;
}

div.mm-static-main ul.p-tabview-nav {
    border: none;
}
div.mm-static-main .p-tabview-nav-link {
    border: none;
}
div.mm-static-main .p-tabview-nav-link .flex {
    padding: 4px;
    padding-right: 1em;
    padding-left: 0.5em;
}
div.mm-static-main .p-highlight .p-tabview-nav-link .flex {
    border: 1px solid rgb(164, 164, 250);
    background-color: rgb(204, 204, 255);
    border-radius: 6px;
    padding: 4px;
    padding-right: 1em;
    padding-left: 0.5em;
}
div.mm-static-main .p-tabview-nav li .p-tabview-nav-link {
    padding: 0.2em;
}

div.mm-static-main div.p-tabview-panels {
    padding-top:0;
}
div.mm-static-main .p-tabview .p-tabview-panels {
    padding: 0;
}
div.mm-static-main .profile-list div.p-datatable-wrapper {
    border: 1px solid rgb(204, 204, 255);
    border-radius: 6px;
    padding: 4px;
    padding-right: 1em;
    padding-left: 0.5em;
}
div.p-dropdown-panel {
    margin-top: -1.9em;
}
.notify-content .p-toast-message-text {
    margin-left: 1em;
    margin-right: 1em;
}
.p-confirm-dialog-message {
    margin-left: 1em;
    margin-right: 1em;
    font-weight: 600!important;
}
.notify-content .p-toast-message-text span, .notify-content .p-toast-message-text div {
    font-weight: 600!important;
}
div.mm-static-main .p-column-title {
    font-weight: 600;
    color: teal;
}
span.p-menuitem-icon.pi {
    margin-right: 0.5em;
}
span.p-button-icon-left.pi.pi-question-circle,
    span.p-button-icon.p-button-icon-left.pi.pi-shopping-cart {
    margin-right: 0.5em;
    color: yellow;
}
div.main .p-button {
    border: none;
    padding-left: 0.7em;
    padding-right: 0.9em;
    box-shadow: 2px 2px #999;
}
div#overlay_menu {
    margin-top: -1.7em;
}
span.p-menuitem-icon.pi.pi-stop-circle {
    color: red;
}
.git-icon-size {
    font-size: 0.7rem;
    font-weight: 600;
}
.p-confirm-dialog-message {
    width: 600px;
}

div.mm-static-main .p-datatable .p-datatable-tbody > tr > td {
    border-bottom: none;
}
div.mm-static-main .p-row-even {
    background-color: #f5f5f5;
}
section.asset-table i.pi.pi-verified {
    color: green;
    margin-left: 2px;
}
section.asset-table i.pi.pi-times-circle {
    color: red;
    margin-left: 2px;
}

section.asset-table div.p-datatable {
    border: 1px solid rgb(204, 204, 255);
    /* background-color: white; */
    padding: 3px;
    border-radius: 6px;
}
section.asset-table div.p-datatable-header {
    border: none;
}
section.asset-table i.pi.pi-search {
    position: relative;
    top: -7px;
}
section.asset-table input.p-inputtext.p-component {
    padding-left: 2em;
}
section.asset-table .dt {
    display: flex;
    flex-direction: column;
}
section.asset-table div.p-paginator {
    border: none;
}
section.asset-table .p-datatable .p-datatable-tbody > tr > td {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: none;
}
section.asset-table .p-datatable-flex-scrollable {
    height:auto;
}
section.asset-table .p-datatable-table {
    padding-bottom: 0.5em;
}
section.asset-table .p-row-even {
    background-color: #eee;
}
section.asset-table .p-paginator .p-dropdown {
    height: auto;
}
section.issue-table i.pi.pi-verified {
    color: green;
    margin-left: 2px;
}
section.issue-table i.pi.pi-times-circle {
    color: red;
    margin-left: 2px;
}

section.issue-table div.p-datatable {
    border: 1px solid rgb(204, 204, 255);
    /* background-color: white; */
    padding: 3px;
    border-radius: 6px;
}
section.issue-table div.p-datatable-header {
    border: none;
}
section.issue-table i.pi.pi-search {
    position: relative;
    top: -7px;
}
section.issue-table input.p-inputtext.p-component {
    padding-left: 2em;
}
section.issue-table .dt {
    display: flex;
    flex-direction: column;
}
section.issue-table div.p-paginator {
    border: none;
}
section.issue-table .p-datatable .p-datatable-tbody > tr > td {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: none;
}
section.issue-table .p-datatable-flex-scrollable {
    height:auto;
}
section.issue-table .p-datatable-table {
    padding-bottom: 0.5em;
}
section.issue-table .p-row-even {
    background-color: #eee;
}
section.issue-table .p-paginator .p-dropdown {
    height: auto;
}
section .process-table span.p-button-icon.pi.pi-stop-circle.text-xl {
    color: red;
}
div.mm-static-main span.status-pending  {
    position: relative;
    top: -2px;
    font-weight: 600;
    margin-left: 0.5em;
    color: white;
    background: rgb(255, 115, 0);
    font-size: 0.7em;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 3px;
    border: 1px solid #666;
}
div.mm-static-main span.status-uptodate  {
    color: white;
    background: green;
    position: relative;
    top: -2px;
    font-weight: 600;
    margin-left: 0.5em;
    font-size: 0.6em;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 3px;
    border: 1px solid #666;
}
div.mm-static-main span.status-locked  {
    color: white;
    background: red;
    position: relative;
    top: -2px;
    font-weight: 600;
    margin-left: 0.5em;
    font-size: 0.7em;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 3px;
    border: 1px solid #666;
}
.wizard .p-card-subtitle {
    margin-top: 5px;
}
.wizard .p-stepper-title {
    font-size: 1.0em;
    color: rgb(55, 65, 156);
    font-weight: 600;
}
.wizard .p-card-content {
    margin-bottom: 0;
    padding-bottom: 0;
}
#update-nag, .update-nag {
    margin-top: 1em;
    margin-left: 1em;
}
body {
   height: 100%;
   color: var(--color-text);
   background: var(--color-background);
   transition: color 0.5s, background-color 0.5s;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }
 
input[type=checkbox], input[type=radio] {
    width: 100%!important;
    height: 100%!important;
    margin: 0!important;
}

 ::-webkit-scrollbar-thumb {
   background-color: #80d4ff;
   border-radius: 10px;
   border: 2px solid #fff;
 }
 ::-webkit-scrollbar-track {
   box-shadow: inset 0 0 15px #cceeff;
   border-radius: 10px;
   border: 2px solid #fff;
   opacity: 0.5;
 }
 ::-webkit-scrollbar {
   background: #cceeff;
   width: 10px;
   height: 10px;
   opacity: 0.5;
   cursor: crosshair!important;
 }
